// about-product
.about-product {
  &__video {
    .video-js {
      width: 100%;
      height: 420px;
      border-radius: 20px;
      overflow: hidden;
      outline: none;
      border: none;
      @media (max-width: 575px){
        height: 240px;
      }
      &:hover {
        .vjs-big-play-button {
          background-color: transparent;
        }
        .vjs-poster::after {
          background-color: rgba(#000, .1);
        }
      }
    }
    .vjs-poster {
      background-size: cover;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .3);
        transition: background-color .2s linear;
      }
    }
  }
  &__text {
    display: flex;
    flex-direction: column;    
    height: 100%;
    padding-right: 30px;
    @media (max-width: 991px){
      padding-right: 0;
    }
    p {
      font-size: 16px;
      line-height: 28px;
      color: #E0E0E0;   
      margin-bottom: 15px;   
    }
  }
  .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    content: '';
    width: 100%;
    height: 100%;
    background: url('@img/product/play-video.svg') no-repeat center center / contain;
  }
  .video-js .vjs-big-play-button {
    background-color: transparent;
    border: none;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    width: 160px;
    height: 160px;
    @media (max-width: 575px){
      width: 80px;
      height: 80px;
    }
    &:hover {
      background-color: transparent;
      outline: none;
    }
    &:focus-within {
      background-color: transparent;
      outline: none;
    }
    &:focus {
      background-color: transparent;
      outline: none;
    }
  }
}