// matherials
.matherials {
  &__title {
    font-family: $font-family-second;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
    @media (max-width: 991px){
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 20px;
    }
  }
  &__content {
    p {  
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.03em;
      color: #FFFFFF;   
      margin-bottom: 15px;  
      @media (max-width: 991px){
        font-size: 14px;
        line-height: 24px;
      } 
    }
  }
  &__preview {
    display: flex;
    align-items: center;
    margin-top: 32px;
    @media (max-width: 767px){
      flex-direction: column;
    }
  }
  &__btn {
    margin-right: 20px;
    @media (max-width: 767px){
      margin-right: 0;
    }
    &-client {
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.03em;
      color: #56C0E7;      
      @media (max-width: 767px){
        margin-top: 10px;
      }
    }
  }
}
.matherials__nav {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 20px;
  margin-bottom: 45px;
  &-list {
    li {
      margin-bottom: 15px;
      &.active {
        a {
          color: rgba(255, 255, 255, 1);     
        }
      }
      a {
        font-family: $font-family-second; 
        font-size: 18px;
        line-height: 24px; 
        letter-spacing: 0.02em; 
        color: rgba(255, 255, 255, 0.6);   
        transition: color .2s linear;   
        &:hover {
          color: rgba(255, 255, 255, 1);   
          opacity: 1;
        }        
      }
    }
  }
}